{% extends "base.html" %}

{% block content %}
        
<main class="container">
<div class="box">
      <h2>Medicamento</h2>
    <div class="row">
        <div class="col">
        <form method="post" >
            <section>
            {% csrf_token %}

            {% for field in form %}
            <div class="campo">
                <label>{{ field.label }}</label>
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}

            <button class="btn">Guardar</button>
        </section>
        </form>
        </div>
    </div>
</div>
</main>
{% endblock %}