{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="container">
<div class="box">
      <h2>Eliminar Medicamento</h2>
    <div class="row">
        <div class="col">
        <div class="card-body">

            <p class="fs-5">
                ¿Estás seguro de que deseas eliminar el medicamento
                <strong>{{ object.nombre }}</strong>?
            </p>

            <p class="text-muted">
                Esta acción no se puede deshacer.
            </p>

            <form method="post">
                {% csrf_token %}

                <div style="display: flex; gap: 10px;">
                    <a href="{% url 'farmacia:medicamento_list' %}" class="btn">
                        Cancelar
                    </a>
                
                    <button type="submit" class="btn">
                        Sí, eliminar
                    </button>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
</main>
{% endblock %}