{% extends "base.html" %}
{% load static %}

{% block content %}
            
    <!-- =======================
         FILTROS
    ======================== -->
<main class="container">
<div class="box">
      <h2 class="mb-4">Listado de Medicamentos</h2>
  <a href="{% url 'farmacia:medicamento_create' %}" class="btn btn-success mb-3">Agregar Nuevo Medicamento</a>
    <div class="row">
        <div class="col">
    <form method="get">
        <section>
                <label class="form-label">Nombre</label>
                <input type="text" name="nombre" class="form-control"
                       value="{{ filtro_nombre }}" placeholder="Buscar por nombre">

                <label class="form-label">Categoría</label>
                <select name="categoria" class="form-select">
                    <option value="">Todas</option>
                    {% for c in categorias %}
                        <option value="{{ c.id }}" {% if filtro_categoria == c.id|stringformat:"s" %}selected{% endif %}>
                            {{ c.nombre }}
                        </option>
                    {% endfor %}
                </select>

                <label class="form-label">Presentación</label>
                <input type="text" name="presentacion" class="form-control"
                       value="{{ filtro_presentacion }}" placeholder="Ej: Tabletas, Jarabe">

                <label class="form-label">Stock menor o igual a</label>
                <input type="number" name="stock_min" class="form-control"
                       value="{{ filtro_stock_min }}">
                <div style="display: flex; gap: 10px;">
                    <button class="btn">Filtrar</button>
                    <a href="{% url 'farmacia:medicamento_list' %}" class="btn">Limpiar</a>
                </div>

    </section>
    </form>
</div>
    <!-- =======================
         TABLA
    ======================== -->

        <table class="tabla-moderna">
            <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Categoría</th>
                    <th>Presentación</th>
                    <th>Stock</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>

            <tbody>
                {% for m in medicamentos %}
                <tr>
                    <td>{{ m.nombre }}</td>
                    <td>{{ m.categoria }}</td>
                    <td>{{ m.presentacion }}</td>
                    <td>
                        {% if m.stock <= 5 %}
                            <span class="badge bg-danger">{{ m.stock }}</span>
                        {% elif m.stock <= 15 %}
                            <span class="badge bg-warning text-dark">{{ m.stock }}</span>
                        {% else %}
                            <span class="badge bg-success">{{ m.stock }}</span>
                        {% endif %}
                    </td>

                    <td class="text-center">
                        <div style="display: flex; gap: 10px;">
                        <a href="{% url 'farmacia:medicamento_detalle' m.id %}" class="btn">Ver</a>
                        <a href="{% url 'farmacia:medicamento_edit' m.id %}" class="btn">Editar</a>
                        <a href="{% url 'farmacia:medicamento_eliminar' m.id %}" class="btn">Eliminar</a>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center py-4 text-muted">
                        No se encontraron medicamentos.
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
</main>
    <!-- =======================
         PAGINACIÓN
    ======================== -->
    {% if is_paginated %}
    <nav class="mt-4">
        <ul class="pagination justify-content-center">

            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ page_obj.previous_page_number }}&{{ request.GET.urlencode }}"
                    >Anterior</a>
                </li>
            {% endif %}

            {% for num in paginator.page_range %}
                <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                    <a class="page-link"
                       href="?page={{ num }}&{{ request.GET.urlencode }}"
                    >{{ num }}</a>
                </li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ page_obj.next_page_number }}&{{ request.GET.urlencode }}"
                    >Siguiente</a>
                </li>
            {% endif %}

        </ul>
    </nav>
    {% endif %}
{% endblock %}