{% extends "base.html" %}

{% block content %}
    
<main class="container">
<div class="box">
  <h2>Nueva receta</h2>
    <div class="row">
        <div class="col">
        <form method="post" >
            <section>
            {% csrf_token %}

            {% for field in form %}
            <div class="campo">
                <label>{{ field.label }}</label>
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            <div style="display: flex; gap: 10px;">
            <button class="btn">Guardar</button>
            <a href="{% url 'farmacia:receta_list' %}" class="btn">Cancelar</a>
            </div>
            </section>
        </form>
    </div>
    </div>
</div>
</main>
{% endblock %}