{% extends "base.html" %}

{% block content %}

<main class="container">
<div class="box">
  <h2>Receta {{ receta.id }}</h2>
    <div class="row">
        <div class="col">
        <p><strong>Paciente:</strong> {{ receta.paciente }}</p>
        <p><strong>Médico:</strong> {{ receta.medico }}</p>
        <p><strong>Fecha:</strong> {{ receta.fecha }}</p>

        <h2>Indicaciones</h2>
        <p>{{ receta.indicaciones }}</p>

        <hr>

        <h2>Medicamentos</h2>
        
        <div style="display: flex; gap: 10px;">
        <a href="{% url 'farmacia:receta_detalle_add' receta.id %}" class="btn">
            Agregar medicamento
        </a>
        <a href="{% url 'farmacia:receta_delete' receta.id %}" class="btn">
            {% csrf_token %}
            Eliminar receta

        </a>
    </div>
       
            <table>
                <thead>
                    <tr>
                        <th>Medicamento</th>
                        <th>Cantidad</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in receta.recetadetalle_set.all %}
                    <tr>
                        <td>{{ d.medicamento }}</td>
                        <td>{{ d.cantidad }}</td>
                        <td>
                            <div style="display: flex; gap: 10px;">
                            <a href="{% url 'farmacia:receta_detalle_edit' d.pk %}" class="btn">Editar</a>
                            <a href="{% url 'farmacia:receta_detalle_delete' d.pk %}" class="btn">Eliminar</a>
                            </div>
                        </td>

                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="2">No hay medicamentos agregados.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</div>
</div>
</main>
{% endblock %}