{% extends "base.html" %}
{% block content %}

<h2>Detalle del Paciente</h2>
<div id="content">
        <hr>
  <div class="content">
  <p><strong>No. de expediente:</strong> {{ paciente.id }}</p>
  <p><strong>Nombre:</strong> {{ paciente.nombre }}</p>
  <p><strong>Apellido:</strong> {{ paciente.apellido }}</p>
  <p><strong>Hospital:</strong> {{ paciente.hospital }}</p>
  <p><strong>Fecha de nacimiento:</strong> {{ paciente.fecha_nacimiento }}</p>
  <p><strong>Sexo:</strong> {{ paciente.sexo }}</p>
  <p><strong>Dirección:</strong> {{ paciente.direccion }}</p>
  <p><strong>Teléfono:</strong> {{ paciente.telefono }}</p>
  <p><strong>Contacto emergencia:</strong> {{ paciente.contacto_emergencia }}</p>
  <p><strong>Tipo de sangre:</strong> {{ paciente.tipo_sangre }}</p>
  <p><strong>Alergias:</strong> {{ paciente.alergias|default:"—" }}</p>
          <hr>
    <a class="btn" href="{% url 'paciente:editar_paciente' paciente.id %}">Editar</a> 
    <a class="btn" href="{% url 'paciente:eliminar_paciente' paciente.id %}">Eliminar</a> 
    <a class="btn" href="{% url 'paciente:lista_paciente' %}">Volver</a>
  </div>
  <hr>
</div>
{% endblock %}