{% extends "base.html" %}
{% block content %}

<main class="container">
<div class="box">
    <h2>Lista de Pacientes</h2>
    <div class="row">
        <div class="col">
<p>
  <a class="btn" href="{% url 'paciente:crear_paciente' %}">Registrar Paciente</a>
</p>
<div class="formulario">
  
{% if not request.GET.q and not request.GET.hospital %}
  <div class="alert alert-succes">
    Usa los filtros y presiona “Buscar” para ver pacientes.
  </div>
{% endif %}

<form method="get">

  <input type="text" name="q" placeholder="Buscar (nombre/apellido/teléfono)" value="{{ request.GET.q }}"/>
    
      <input type="number" name="hospital" placeholder="Filtrar por clave de hospital" value="{{ request.GET.hospital }}">


  <button class="btn" type="submit">Buscar</button>
  <a class="btn" href="{% url 'paciente:lista_paciente' %}">Limpiar</a>
</form>

        <table>
            <thead>
                <tr>
                <th>No expediente</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Hospital</th>
                <th>Teléfono</th>
                <th>Tipo de sangre</th>
                <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                {% for p in pacientes %}
                <tr>
                <td>{{ p.id }}</td>
                <td><a>{{ p.nombre }}</a></td>
                <td>{{ p.apellido }}</td>
                <td>{{ p.hospital }}</td>
                <td>{{ p.telefono }}</td>
                <td>{{ p.tipo_sangre }}</td>
                <td>
                  <div style="display: flex; gap: 10px;">
                    <a class="btn" href="{% url 'paciente:detalle_paciente' p.id %}">Ver</a>
                    <a class="btn" href="{% url 'paciente:editar_paciente' p.id %}">Editar</a>
                    <a class="btn" href="{% url 'paciente:eliminar_paciente' p.id %}">Eliminar</a>
                  </div>
                </td>
                </tr>
                {% empty %}
                <tr>
                <td colspan="7">No hay pacientes registrados.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
</div>
</main>

{% if is_paginated %}
  <p>
    {% if page_obj.has_previous %}
      ?page={{ page_obj.previous_page_number }}Anterior</a>
    {% endif %}

    Página {{ page_obj.number }}

    {% if page_obj.has_next %}
      ?page={{ page_obj.next_page_number }}Siguiente</a>
    {% endif %}
  </p>

{% endif %}

{% endblock %}