{% extends "base.html" %}

{% block content %}

<main class="container">
<div class="box">
    <h2>{% if view.object %}Editar Enfermero{% else %}Registrar Enfermero{% endif %}</h2>
    <div class="row">
        <div class="col">
            <form method="post">
                <section>
                {% csrf_token %}
                 
                {{ form.as_p }}
                <div style="display: flex; gap: 10px;">
                <button type="submit" class="btn btn-success">Guardar</button>
                <a href="{% url 'personal:enfermero_list' %}" class="btn">Cancelar</a>
            </div>
        </section>
            </form>
        </div>
    </div>
</dvi>
</main>
{% endblock %}