{% extends "base.html" %}

{% block content %}

<main class="container">
<div class="box">
<h2>Eliminar Enfermero</h2>
    <div class="row">
        <div class="col">
        <p>¿Estás seguro de que deseas eliminar a <strong>{{ object }}</strong>?</p>
<hr>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn">Eliminar</button>
            <a href="{% url 'personal:enfermero_list' %}" class="btn">Cancelar</a>
        </form>
        <hr>
    </div>
</div>
</div>
</main>
{% endblock %}