{% extends "base.html" %}

{% block content %}
<h2>{% if view.object %}Editar Médico{% else %}Registrar Médico{% endif %}</h2>
<div id="content">
    <div class="marco">
        <div class="formulario">
<form method="post">
    {% csrf_token %}
    <div class="campo">
    {{ form.as_p }}
    </div>
    <button type="submit" class="btn btn-success">Guardar</button>
    <a href="{% url 'personal:medico_list' %}" class="btn btn-secondary">Cancelar</a>
</form>
        </div>
    </div>
</div>
{% endblock %}