{% extends "base.html" %}

{% block content %}
<main class="container">
<div class="box">
<h2>Eliminar Médico</h2>
    <div class="row">
        <div class="col">
<p>¿Estás seguro de que deseas eliminar al médico <strong>{{ object }}</strong>?</p>
<hr>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn">Eliminar</button>
            <a href="{% url 'personal:medico_list' %}" class="btn">Cancelar</a>
        </form>
        <hr>
    </div>
</div>
</div>
</main>
{% endblock %}