{% extends "base.html" %}

{% block content %}



<main class="container">
<div class="box">
    <h2>Listado de Médicos</h2>
    <div class="row">
        <a href="{% url 'personal:medico_create' %}" class="btn">Registrar Médico</a>
        <div class="col">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Especialidad</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for medico in medicos %}
                <tr>
                    <td>{{ medico.nombre }} {{ medico.apellido }}</td>
                    <td>{{ medico.especialidad }}</td>
                    <td>{{ medico.telefono }}</td>
                    <td>{{ medico.correo }}</td>
                    <td>
                        <div style="display: flex; gap: 10px;">
                        <a href="{% url 'personal:medico_edit' medico.pk %}" class="btn">Editar</a>
                        <a href="{% url 'personal:medico_delete' medico.pk %}" class="btn">Eliminar</a>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No hay médicos registrados.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</div>
</main>
{% endblock %}