
<header>
    <input type="checkbox" id="btn-menu">
    <label for="btn-menu">☰</label>
<nav class="menu">        
        <ul class="menu">

            <li>
                <a href="{% url 'acceso:hospitales' %}"
                class="{% if url_name == 'hospitales' %}active{% endif %}">
                    Inicio
                </a>
            </li>

			<!-- Barra de navegación menu Administración-->
			{% if roles_usuario and roles_usuario.0 == "ADMINISTRACION" %}

            <li>
                {% with urls="factura_lista,factura_crear,factura_editar,factura_eliminar,factura_detalle,detalle_crear,detalle_editar,detalle_eliminar,pago_crear,pago_editar,pago_eliminar"|cut:"," %}
                <a href="{% url 'facturacion:factura_lista' %}"
                class="{% if url_name in urls %}active{% endif %}">
                    Factura
                </a>
                {% endwith %}
            </li>

            <li>
                {% with urls="asistencia_list,asistencia_create,asistencia_update,asistencia_delete"|cut:"," %}
                <a class="{% if url_name in urls %}active{% endif %}">
                    Checar asistencia
                </a>
                {% endwith %}
                <ul>
                <input type="checkbox" id="submenu1">
                    <li><a href="{% url 'turno:asistencia_list' %}">Asistencia</a></li>
                </ul>
            </li>

            {% endif %}
            <li><a href="{% url 'acceso:logout' %}">Salir</a></li>
		</ul>
</nav>
</header>



