{% extends 'base.html' %}

{% block content %}

<main class="container">
<div class="box">
    <h2>Detalle de Auditoría</h2>
    <div class="row">
        <div class="col">
        <p><strong>Tabla:</strong> {{ object.tabla }}</p>
        <p><strong>Operación:</strong> {{ object.operacion }}</p>
        <p><strong>ID del registro:</strong> {{ object.registro_id }}</p>
        <p><strong>Fecha:</strong> {{ object.fecha }}</p>
        <hr>
        {% if registro_original %}
            <h2>Datos del registro original</h2>

            <ul>
                {% for nombre, valor in campos.items %}
                    <li><strong>{{ nombre|capfirst }}:</strong> {{ valor }}</li>
                {% endfor %}
            </ul>

        {% else %}
            <p>No se pudo recuperar el registro original.</p>
        {% endif %}
            <hr>
            <div style="display: flex; gap: 10px;">
        <a class="btn" href="{% url 'auditoria:auditoria_list' %}">Volver</a>
            </div>
    </div>
</div>
</div>
</main>
{% endblock %}