{% extends "base.html" %}
{% block content %}

<main class="container">
<div class="box">
 <h2>Asignar cama a {{ paciente }}</h2>
    <div class="row">
        <div class="col">
            <form method="POST">
                <section>
                {% csrf_token %}
                <div class="campo">
                <label for="cama_id">Selecciona una cama disponible:</label>
                <select name="cama_id" class="form-control">
                    {% for cama in camas %}
            <option value="{{ cama.id }}">
                Cama {{ cama.numero }} - Habitación {{ cama.habitacion.numero }}
                ({{ cama.habitacion.area.nombre }}) - {{ cama.get_tipo_display }}
            </option>
            </div>
        {% empty %}

            <option disabled>No hay camas disponibles.</option>

        {% endfor %}
    </select>

    <button class="btn" {% if not camas %}disabled{% endif %}>Asignar</button>
</section>
</form>
        </div>
    </div>  
</div>
</main>
{% endblock %}