{% extends "base.html" %}
{% block content %}

<h2>Asignar Rol a {{ usuario.username }}</h2>
<div id="content">
    <div class="marco">
        <div class="formulario">
            <form method="post">
                <div class="campo">
                {% csrf_token %}
                {{ form.as_p }}
                </div>
                <button class="btn" type="submit">Asignar</button>
                <a href="{% url 'acceso:usuario_detalle' usuario.pk %}" class="btn">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}