{% extends "base.html" %}
{% block content %}


<main class="container">
<div class="box">
   <h2>Asignar Permiso a {{ rol.nombre }}</h2>
    <div class="row">
        <div class="col">
            <form method="post">
                <div class="campo">
                {% csrf_token %}
                {{ form.as_p }}
                <div style="display: flex; gap: 10px;">
                <button class="btn" type="submit">Asignar</button>
                <a href="{% url 'acceso:rol_detalle' rol.pk %}" class="btn">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
</main>
{% endblock %}