{% extends 'base.html' %}

{% block content %}
<h2>Eliminar Registro</h2>
<div class="container mt-4">
<div id="content">
    <div class="marco">
<p>¿Seguro que deseas eliminar la relación entre <strong>{{ registro.usuario }}</strong> y <strong>{{ registro.hospital }}</strong>?</p>
<hr>
<form method="post">
    {% csrf_token %}
    <button class="btn" type="submit">Eliminar</button>
    <a class="btn" href="{% url 'acceso:usuariohospital_list' %}">Cancelar</a>
</form>
<hr>
</div>
</div>

{% endblock %}