{% extends "base.html" %}
{% block content %}


<main class="container">
<div class="box">
    <h2>Lista de Permisos</h2>
    <div class="row">
        <div class="col">
        <a href="{% url 'acceso:permiso_crear' %}" class="btn">Crear Permiso</a>
        <div class="formulario">
            <table class="tabla-moderna">
                <thead>
                    <tr>
                        <th>Permiso</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for permiso in permisos %}
                    <tr>
                        <td>{{ permiso.nombre }}</td>
                        <td>{{ permiso.descripcion }}</td>
                        <td>
                            <div style="display: flex; gap: 10px;">
                            <a href="{% url 'acceso:permiso_editar' permiso.pk %}" class="btn">Editar</a>
                            <a href="{% url 'acceso:permiso_eliminar' permiso.pk %}" class="btn">Eliminar</a>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">No hay permisos registrados.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</main>
{% endblock %}