{% extends "base.html" %}
{% block content %}

<main class="container">
<div class="box">
    <h2>Confirmar eliminacion de permiso</h2>
    <div class="row">
        <div class="col">
        <p>¿Estás seguro de eliminar el permiso <strong>{{ permiso.nombre }}</strong>?</p>
        <hr>
        <form method="post">
            {% csrf_token %}
            <div style="display: flex; gap: 10px;">
            <button class="btn" type="submit">Sí, eliminar</button>
            <a href="{% url 'acceso:permiso_lista' %}" class="btn">No, volver</a>
            </div>
        </form>
        <hr>
    </div>
</div>
</main>
{% endblock %}