{% extends "base.html" %}

{% block title %} {{title}} {% endblock %}

{% block navbar %}
{# vacío: no se muestra el nav #}
{% endblock %}

{% block content %}
    <div class="marco">
    <h1>Sistema Hospitalario</h1>
    </div>
<main class="container">
<div class="box">
    <h2>Crear Cuenta</h2>
    <div class="row">
        <div class="col">
        <form method="POST">
            <section>
        {{register_form.errors}}

            {% csrf_token %}

            {% for field in register_form %}
            
                <label>{{field.label}}</label>
                {{field}}
            
            {% endfor %}
            <div style="display: flex; gap: 10px;">
                <button class="btn" >Registrarse</button>
            </div>
            </section>
        </form>
    </div>
</div>
</div>
</main>
{% endblock %}