{% extends "base.html" %}
{% block content %}

<main class="container">
    <section>
<div class="box">
    <h2>Detalle de Usuario: {{ usuario.username }}</h2>
    <div class="row">
        <div class="col">
        <ul class="lista-datos">
            <p><strong>Usuario:</strong> {{ usuario.username }}</p>
            <p><strong>Email:</strong> {{ usuario.email }}</p>
            <p><strong>Estado:</strong> {{ usuario.estado }}</p>
        </ul>
        <a href="{% url 'acceso:asignar_rol_usuario' usuario.pk %}" class="btn">Asignar Rol</a>
    
        <h2>Roles asignados</h2>
        
        {% if roles %}
            <ul>
                {% for ur in roles %}
                <p>{{ ur.rol.nombre }}</p>
                <a href="{% url 'acceso:quitar_rol_usuario' usuario.pk ur.rol.pk %}" class="btn">Quitar</a>
                {% endfor %}
            </ul>
        {% else %}
            <p>No tiene roles asignados.</p>
        {% endif %}
           <hr>
            {% for ur in roles %}
            <li>
                {{ ur.rol.nombre }}
                <p>{% if ur.rol.pk %}</p>
                    <a href="{% url 'acceso:rol_detalle' ur.rol.pk %}" class="btn">Ver detalle del rol</a>
                {% endif %}
            </li>
                {% endfor %}
<hr>
        <h2>Hospitales asignados</h2>
        {% if hospitales %}
            <ul>
                {% for uh in hospitales %}
                <p>{{ uh.hospital.nombre }}</p>
                {% endfor %}
            </ul>
        {% else %}
            <p>No tiene hospitales asignados.</p>
        {% endif %}

        <p>
            <div style="display: flex; gap: 10px;">
            <a href="{% url 'acceso:usuario_editar' usuario.pk %}" class="btn">Editar</a>
            <a href="{% url 'acceso:usuario_lista' %}" class="btn">Volver</a>
            </div>
        </p>

    </div>
</div>

</main>
{% endblock %}