{% extends "base.html" %}
{% block content %}
<main class="container">
<div class="box">
    <h2>Lista de Usuarios</h2>
    <div class="row">
        <div class="col">
        <a href="{% url 'acceso:usuario_crear' %}" class="btn">Crear Usuario</a>
            <table>
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Email</th>
                        <th>Estado</th>
                        <th>Hospital</th>
                        <th>Roles</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.username }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.estado }}</td>
                        <td>
                        {% if usuario.usuariohospital_set.all %}
                            {% for uh in usuario.usuariohospital_set.all %}
                            {{ uh.hospital.nombre }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% else %}
                            Sin hospital
                        {% endif %}
                        </td>
                        <td>
                        {% if usuario.usuariorol_set.all %}
                            {% for ur in usuario.usuariorol_set.all %}
                            {{ ur.rol.nombre }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% else %}
                            Sin rol
                        {% endif %}
                        </td>

                        <td>
                            <div style="display: flex; gap: 10px;">
                            <a href="{% url 'acceso:usuario_detalle' usuario.pk %}" class="btn">Ver</a>
                            <a href="{% url 'acceso:usuario_editar' usuario.pk %}" class="btn">Editar</a>
                            <a href="{% url 'acceso:usuario_eliminar' usuario.pk %}" class="btn">Eliminar</a>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">No hay usuarios registrados.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</main>
{% endblock %}