{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block navbar %}
{# vacío: no se muestra el nav #}
{% endblock %}

{% block content %}

{{register_form.errors}}
    <div class="marco">
    <h1>Sistema Hospitalario</h1>
    </div>
<main class="container">
<div class="box">
    <div class="row">
        <div class="col">
        <h2>Iniciar Sesión</h2>

        <form method="POST">
            {% csrf_token %}

            <section>
                <label for="username">Usuario</label>
                <input  type="text" name="username" required>

                <label for="password">Contraseña</label>
                <input type="password" name="password" required>
                <div style="padding: 20px">
                <button class="btn">Entrar</button>
                </div>
                <a href="{% url 'acceso:password_reset' %}">¿Olvidaste tu contraseña?</a>
            </section>
        </form>
        </div>
    </div>
</div>
</main>
{% endblock %}