{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block navbar %}
{# vacío: no se muestra el nav #}
{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-succes">
            {{message}}
        </div>
    {% endfor %}
{% endif %}

{{register_form.errors}}
<div id="content">
    <div class="formulario">
        <h2 class="title">Iniciar Sesión</h2>

        <form method="POST">
            {% csrf_token %}

            <div class="campo">
                <label for="username">Usuario</label>
                <input  type="text" name="username" required>
            </div> 

            <div class="campo">
                <label for="password">Contraseña</label>
                <input type="password" name="password" required>
            </div>

            <div >
                <button class="btn">Entrar</button>
            </div>

            <div>
                <a href="{% url 'acceso:password_reset' %}">¿Olvidaste tu contraseña?</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}