{% extends "base.html"%}

{% block navbar %}
{# vacío: no se muestra el nav #}
{% endblock %}

{% block content %}
<h2 class="title">Restablecer contraseña</h2>
    <div class="marco">
    <h1>Sistema Hospitalario</h1>
    </div>
<main class="container">
<div class="box">
    <div class="row">
        <div class="col">
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn" type="submit">Guardar nueva contraseña</button>
</form>
        </div>
    </div>  
</div>
</main>
{% endblock %}  