{% extends "base.html" %}

{% block navbar %}
{# vacío: no se muestra el nav #}
{% endblock %}

{% block content %}
    <div class="marco">
    <h1>Sistema Hospitalario</h1>
    </div>
<main class="container">
<div class="box">
    <div class="row">
        <div class="col">
        <h2 class="title">Recuperar contraseña</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.email.label }}<br>
                {{ form.email }}
                <button class="btn" type="submit">Enviar enlace</button>
            </form>
    </div>
</div>
</div>
</main>
{% endblock %}