{% extends "base.html" %}

{% block navbar %}
{# vacío: no se muestra el nav #}
{% endblock %}

{% block content %}
<div id="content">
    <div class="formulario">
        <h2 class="title">Recuperar contraseña</h2>
            <form method="post">
                {% csrf_token %}
                <div class="campo">
                {{ form.email.label }}<br>
                {{ form.email }}
                </div>
                <button class="btn type="submit">Enviar enlace</button>
            </form>
    </div>
</div>
{% endblock %}