{% extends "base.html" %}

{% block navbar %}
{# vacío: no se muestra el nav #}
{% endblock %}

{% block content %}
    <div class="marco">
    <h1>Sistema Hospitalario</h1>
    </div>
<main class="container">
<div class="box">
    <div class="row">
        <div class="col">
Hola {{ user.get_username }},

Has solicitado restablecer tu contraseña. Haz clic en el siguiente enlace:

{{ protocol }}://{{ domain }}{% url 'acceso:password_reset_confirm' uidb64=uid token=token %}

Si no solicitaste este cambio, puedes ignorar este mensaje.
    </div>
</div>
</div>
</main>
{% endblock %}