{% extends "base.html" %}
{% block content %}

<main class="container">
<div class="box">
<h2>Editar cama</h2>
    <div class="row">
        <div class="col">
<form method="POST">
    <section>
    {% csrf_token %}

    <label>Habitación:</label>
    <select name="habitacion" class="form-control">
        {% for h in habitaciones %}
            <option value="{{ h.id }}" {% if h.id == cama.habitacion.id %}selected{% endif %}>
                Habitación {{ h.numero }} - {{ h.area.nombre }}
            </option>
        {% endfor %}
    </select>


    <label class="mt-3">Número de cama:</label>
    <input type="text" name="numero" class="form-control" value="{{ cama.numero }}" required>

    <label class="mt-3">Tipo:</label>
    <select name="tipo" class="form-control">
        {% for key, value in cama.TIPOS %}
            <option value="{{ key }}" {% if cama.tipo == key %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
    </select>

    <label class="mt-3">Estado:</label>
    <select name="estado" class="form-control">
        {% for key, value in cama.ESTADOS %}
            <option value="{{ key }}" {% if cama.estado == key %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
    </select>

    <button class="btn">Guardar cambios</button>
</aection>
</form>
        </div>
    </div>  
</div>
</main>
{% endblock %}