{% extends "base.html" %}
{% block content %}


<main class="container">
<div class="box">
{% if form.instance.pk %}
  <h2>Editar habitación</h2>
{% else %}
  <h2>Registrar habitación</h2>
{% endif %}
    <div class="row">
        <div class="col">
  <form method="post" novalidate>
    <section>
    {% csrf_token %}

    {% if form.non_field_errors %}
      <div class="alert alert-error">{{ form.non_field_errors }}</div>
    {% endif %}

      {{ form.hospital.label_tag }}
      {{ form.hospital }}
      {{ form.hospital.errors }}

      {{ form.area.label_tag }}
      {{ form.area }}
      {{ form.area.errors }}

      {{ form.numero.label_tag }}
      {{ form.numero }}
      {{ form.numero.errors }}

      {{ form.estado.label_tag }}
      {{ form.estado }}
      {{ form.estado.errors }}

    <p>
      <div style="display: flex; gap: 10px;">
      <button class="btn" type="submit">Guardar</button>
      <a class="btn" href="{% url 'infraestructura:lista_habitacion' %}">Cancelar</a>
      </div>
    </p>
  </section>
  </form>
</div>
</div>
</div>
</main>

{% endblock %}
