/*Estilos generales*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(to right, #ffffff, #e7ecef);
  display: flex;
  flex-direction: column;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
  margin: 0;
}

main {
  flex: 1; /* ← empuja el footer hacia abajo */
}

footer {
  padding: 10px;
  width: 100%;
  background-color: #d3d4d4;
  border: 1px solid #d3d4d4;
  color: #000000;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0px 0px 20px grey;
  z-index: 10;
}

.title{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

h1{
  color: #08297d;
  font-family: Arial, Helvetica, sans-serif;
}

h2{
  color: #08297d;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Reset mínimo para links */
a {
    padding: 0;
    text-decoration: none;
    color: inherit;
}

/* Botón unificado */
.btn,
a.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 32px;              /* MISMA ALTURA */
    padding: 0 40px;           /* MISMO ANCHO */
    font-size: 12px;
    font-weight: bold;

    background: #ececec;
    box-shadow: 0px 0px 5px #444 inset;
    color: rgb(6, 6, 118);

    border-radius: 5px;
    box-sizing: border-box;

    margin: 10px 0;
    cursor: pointer;
}

/*Estilos cabecera*/

.marco {
    width: 100%;
    max-width: 1200px;
    aspect-ratio: 2 / 1;      /* 1200 / 600 */
    box-sizing: border-box;
}

/*Estilos barra navegación*/
.menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.menu li {
    border-right: 1px solid #ccc; /* ← la rayita */
}

.menu li:last-child {
    border-right: none; /* ← quita la última rayita */
}

nav{
    max-width: max-content;
    height: 40px;
    background-color: #ececec;
    border: 1px solid #d3d4d4;
    margin: 0 auto;
    box-shadow: 0px 5px 5px grey;
    font-size: 13px;
    border-radius: 8px;
}

nav ul{
    list-style: none;
    text-decoration: none;
    border-radius: 5px;
}

nav > ul > li{
    line-height: 40px;
    float: left;
}

nav > ul > li > a{
    text-decoration: none;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    color: #082131;
    border-radius: 5px;
}

nav > ul > li > a:hover{
    text-decoration: none;
    background: #808181;
    box-shadow: 0px 0px 5px #444 inset;
    font: white;
    transition: all 300ms;
	border-radius: 5px;
}

nav > ul > li > ul{
	text-decoration: none;
	display: none;
	position: absolute;
	color: white;
	text-align: left;
	width: 160px;
	box-shadow: 0px 2px  2px gray;
}

nav > ul > li:hover > ul{
	text-decoration: none;
	display: block;
	color: white;
	margin: 0px;
	list-style: none;	
}

nav > ul > li:hover > ul > li{
	text-decoration: none;
	background: #f2f1f0;
	border-bottom: 1px solid #d6d6d6;
	padding: 8px;
	line-height: 25px;
	font-size: 13px;
	transition: all 300ms;
}

nav > ul > li:hover > ul > li a{
	text-decoration: none;
	color: #666;
	transition: all 300ms;
}

nav > ul > li:hover > ul > li:hover{
	text-decoration: none;
	background-color: #2ba977;
}

nav > ul > li:hover > ul > li:hover a{
	display: block;
	text-decoration: none;
	color: white;
}

nav ul li a.active {
    background: #2ba977;
    color: white;
    box-shadow: 0px 0px 5px #444 inset;
    border-radius: 5px;
}


/*Estilos contenido central*/

#content{
    width: 1212px;
    min-height: 570px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 40px;
    text-align: center;
}

.message,
.alert-succes,
.alert{
	padding: 20px;
	background: #1f7e58;
	color: white;
	text-align: center;
	margin-bottom: 10px;
}

.alert-warning{
	background: #972824;
}

.content{
    line-height: 25px;
    flex: 1;
    text-align: center;
}

.tabla-moderna {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-family: "Segoe UI", sans-serif;
}

.tabla-moderna th {
  background: #848484;
  color: #ffffff;
  padding: 10px;
  border: 1px solid #ddd;
}

.tabla-moderna td {
  padding: 10px;
  background: #fff;
  border-bottom: 1px solid #e5e7eb;
  border: 1px solid #ddd;
}

.tabla-moderna th:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid #ddd;
}

.tabla-moderna th:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #ddd;
}


.formulario {
  max-width:max-content;
  margin: 20px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.campo {
  margin-bottom: 13px;
}

.campo label {
  display: block;
  margin-bottom: 6px;
  font-weight: 15px;
  color: #374151;
}

.campo input,
.campo textarea,
.campo select {
  width: 380px;
  padding: 8px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 13px;
}

.campo input:focus,
.campo textarea:focus {
  outline: none;
  border-color: grey;
}


.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    padding: 0 40px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn:hover {
    background-color: grey;
}

.banner-img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    filter: brightness(70%);
}

.carousel-caption {
    bottom: 150px;
}

.banner-title {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}