{% extends "base.html" %}
{% block content %}

{% if form.instance.pk %}
  <h2>Editar insumo</h2>
{% else %}
  <h2>Registrar insumo</h2>
{% endif %}

<div class="marco formulario">
  <form method="post" novalidate>
    {% csrf_token %}

    {% if form.non_field_errors %}
      <div class="alert alert-error">{{ form.non_field_errors }}</div>
    {% endif %}

    <div class="campo">
      {{ form.hospital.label_tag }}
      {{ form.hospital }}
      {{ form.hospital.errors }}
    </div>

    <div class="campo">
      {{ form.nombre.label_tag }}
      {{ form.nombre }}
      {{ form.nombre.errors }}
    </div>

    <div class="campo">
      {{ form.descripcion.label_tag }}
      {{ form.descripcion }}
      {{ form.descripcion.errors }}
    </div>

    <div class="campo">
      {{ form.stock.label_tag }}
      {{ form.stock }}
      {{ form.stock.errors }}
    </div>

    <div class="campo">
      {{ form.unidad.label_tag }}
      {{ form.unidad }}
      {{ form.unidad.errors }}
    </div>

    <p>
      <button class="btn" type="submit">Guardar</button>
      <a class="btn" href="{% url 'inventario:lista_insumo' %}">Cancelar</a>
    </p>
  </form>
</div>

{% endblock %}
