{% extends "base.html" %}
{% block content %}

<main class="container">
<div class="box">
{% if form.instance.pk %}
  <h2>Editar insumo</h2>
{% else %}
  <h2>Registrar insumo</h2>
{% endif %}
    <div class="row">
        <div class="col">
  <form method="post" novalidate>
    <section>
    {% csrf_token %}

    {% if form.non_field_errors %}
      <div class="alert alert-error">{{ form.non_field_errors }}</div>
    {% endif %}

      {{ form.hospital.label_tag }}
      {{ form.hospital }}
      {{ form.hospital.errors }}

      {{ form.nombre.label_tag }}
      {{ form.nombre }}
      {{ form.nombre.errors }}

      {{ form.descripcion.label_tag }}
      {{ form.descripcion }}
      {{ form.descripcion.errors }}

      {{ form.stock.label_tag }}
      {{ form.stock }}
      {{ form.stock.errors }}

      {{ form.unidad.label_tag }}
      {{ form.unidad }}
      {{ form.unidad.errors }}

    <p>
      <div style="display: flex; gap: 10px;">
      <button class="btn" type="submit">Guardar</button>
      <a class="btn" href="{% url 'inventario:lista_insumo' %}">Cancelar</a>
      </div>
    </p>
  </form>
</div>
</div>
</div>
</main>

{% endblock %}
