{% extends "base.html" %}
{% block content %}


<main class="container">
<div class="box">
<h2>Detalle de insumo</h2>
    <div class="row">
        <div class="col">
  <ul class="lista-datos">
    <p><strong>Hospital:</strong> {{ insumo.hospital }}</p>
    <p><strong>Nombre:</strong> {{ insumo.nombre }}</p>
    <p><strong>Descripción:</strong> {{ insumo.descripcion|linebreaksbr }}</p>
    <p><strong>Stock:</strong> {{ insumo.stock }}</p>
    <p><strong>Unidad:</strong> {{ insumo.unidad }}</p>
  </ul>
<hr>
  <p>
    <div style="display: flex; gap: 10px;">
    <a class="btn" href="{% url 'inventario:editar_insumo' insumo.id %}">Editar</a>
    <a class="btn" href="{% url 'inventario:eliminar_insumo' insumo.id %}">Eliminar</a>
    <a class="btn" href="{% url 'inventario:lista_insumo' %}">Volver</a>
    </div>
  </p>
  <hr>
</div>
</div>
</div>
</main>

{% endblock %}
