{% extends "base.html" %}
{% block content %}


<main class="container">
<div class="box">
<h2>Movimientos de inventario</h2>
<p><a class="btn" href="{% url 'inventario:crear_movimiento' %}">Nuevo movimiento</a></p>
    <div class="row">
        <div class="col">
      <form method="get" class="mb-3">
        <div style="display: flex; gap: 10px;">
          <label for="nombre">Buscar por nombre de insumo:</label>
          <input type="text" id="nombre" name="nombre" value="{{ request.GET.nombre }}">
          <button type="submit" class="btn">Buscar</button>
        </div>
      </form>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Insumo</th>
          <th>Tipo</th>
          <th>Cantidad</th>
          <th>Fecha</th>
          <th>Realizado por</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for movimiento in movimientos %}
          <tr>
            <td>{{ movimiento.id }}</td>
            <td>{{ movimiento.insumo }}</td>
            <td>{{ movimiento.get_tipo_display }}</td>
            <td>{{ movimiento.cantidad }}</td>
            <td>{{ movimiento.fecha }}</td>
            <td>{{ movimiento.realizado_por }}</td>
            <td>
               <div style="display: flex; gap: 10px;">
              <a class="btn" href="{% url 'inventario:detalle_movimiento' movimiento.id %}">Ver</a>
              <a class="btn" href="{% url 'inventario:editar_movimiento' movimiento.id %}">Editar</a>
              <a class="btn" href="{% url 'inventario:eliminar_movimiento' movimiento.id %}">Eliminar</a>
               </div>
            </td>
          </tr>
        {% empty %}
          <tr><td colspan="7">No hay movimientos registrados.</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
</main>

{% if is_paginated %}
  <div>
    {% if page_obj.has_previous %}
      <a class="btn" href="?page={{ page_obj.previous_page_number }}{% if request.GET.nombre %}&nombre={{ request.GET.nombre }}{% endif %}">Anterior</a>
    {% endif %}
    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
    {% if page_obj.has_next %}
      <a class="btn" href="?page={{ page_obj.next_page_number }}{% if request.GET.nombre %}&nombre={{ request.GET.nombre }}{% endif %}">Siguiente</a>
    {% endif %}
  </div>
{% endif %}


{% endblock %}
