{% extends "base.html" %}
{% block content %}


<main class="container">
<div class="box">
<h2>Confirmar eliminación de estudio</h2>
    <div class="row">
        <div class="col">
  <p>¿Estás seguro de eliminar el estudio <strong>{{ estudio.nombre }}</strong>?</p>

  <form method="post">
    {% csrf_token %}
    <div style="display: flex; gap: 10px;">
    <button class="btn" type="submit">Sí, eliminar</button>
    <a class="btn" href="{% url 'laboratorio:detalle_estudio' estudio.id %}">No, volver</a>
    </div>
  </form>
</div>
</div>
</div>
</main>

{% endblock %}
