{% extends "base.html" %}
{% block content %}


<main class="container">
<div class="box">
<h2>Detalle de estudio</h2>
    <div class="row">
        <div class="col">
  <ul class="lista-datos">
    <p><strong>Hospital:</strong> {{ estudio.hospital }}</p>
    <p><strong>Nombre:</strong> {{ estudio.nombre }}</p>
    <p><strong>Descripción:</strong> {{ estudio.descripcion|linebreaksbr }}</p>
    <p><strong>Precio:</strong> ${{ estudio.precio }}</p>
  </ul>

  <p>
     <div style="display: flex; gap: 10px;">
    <a class="btn" href="{% url 'laboratorio:editar_estudio' estudio.id %}">Editar</a>
    <a class="btn" href="{% url 'laboratorio:eliminar_estudio' estudio.id %}">Eliminar</a>
    <a class="btn" href="{% url 'laboratorio:lista_estudio' %}">Volver</a>
     </div>
  </p>
</div>
</div>
</div>
</main>

{% endblock %}
