{% extends "base.html" %}
{% block content %}


<main class="container">
<div class="box">
<h2>Detalle de resultado</h2>
    <div class="row">
        <div class="col">
  <ul class="lista-datos">
    <p><strong>ID:</strong> {{ resultado.id }}</p>
    <p><strong>Solicitud:</strong> #{{ resultado.solicitud.id }}</p>
    <p><strong>Paciente:</strong> {{ resultado.solicitud.paciente }}</p>
    <p><strong>Fecha:</strong> {{ resultado.fecha }}</p>
    <p><strong>Firmado por:</strong> {{ resultado.firmado_por }}</p>
    <p><strong>Resultados:</strong></p>
  </ul>
  <div style="margin: 1rem 0; padding: 1rem; border: 1px solid #ccc; border-radius: 4px;">
    {{ resultado.resultados|linebreaksbr }}
  </div>

  <p>
    <div style="display: flex; gap: 10px;">
    <a class="btn" href="{% url 'laboratorio:editar_resultado' resultado.id %}">Editar</a>
    <a class="btn" href="{% url 'laboratorio:eliminar_resultado' resultado.id %}">Eliminar</a>
    <a class="btn" href="{% url 'laboratorio:lista_resultado' %}">Volver</a>
    </div>
  </p>
</div>
</div>
</div>
</main>

{% endblock %}
