{% extends "base.html" %}
{% block content %}


<main class="container">
<div class="box">
{% if form.instance.pk %}
  <h2>Editar resultado</h2>
{% else %}
  <h2>Registrar resultado</h2>
{% endif %}
    <div class="row">
        <div class="col">
  <form method="post" novalidate>
    <section>
    {% csrf_token %}

    {% if form.non_field_errors %}
      <div class="alert alert-error">{{ form.non_field_errors }}</div>
    {% endif %}


      {{ form.solicitud.label_tag }}
      {{ form.solicitud }}
      {{ form.solicitud.errors }}

      {{ form.resultados.label_tag }}
      {{ form.resultados }}
      {{ form.resultados.errors }}

      {{ form.firmado_por.label_tag }}
      {{ form.firmado_por }}
      {{ form.firmado_por.errors }}


    <p>
      <div style="display: flex; gap: 10px;">
      <button class="btn" type="submit">Guardar</button>
      <a class="btn" href="{% url 'laboratorio:lista_resultado' %}">Cancelar</a>
      </div>
    </p>
  </section>
  </form>
</div>
</div>
</div>
</main>

{% endblock %}
