{% extends "base.html" %}
{% block content %}


<main class="container">
<div class="box">
<h2>Confirmar eliminación de resultado</h2>
    <div class="row">
        <div class="col">
  <p>¿Estás seguro de eliminar el resultado <strong>#{{ resultado.id }}</strong> de la solicitud <strong>#{{ resultado.solicitud.id }}</strong>?</p>
<hr>
  <form method="post">
    <section>
    {% csrf_token %}
    <div style="display: flex; gap: 10px;">
    <button class="btn" type="submit">Sí, eliminar</button>
    {% if resultado.id %}
    <a class="btn" href="{% url 'laboratorio:detalle_resultado' resultado.id %}">No, volver</a>
    {% else %}
    <a class="btn" href="{% url 'laboratorio:lista_resultado' %}">No, volver</a>
    </div>
    {% endif %}
    </section>
  </form>
  <hr>
</div>
</div>
</div>
</main>

{% endblock %}
