{% extends "base.html" %}
{% block content %}


<main class="container">
<div class="box">
   {% if form.instance.pk %}
  <h2>Editar alta</h2>
{% else %}
  <h2>Nueva alta</h2>
{% endif %}
    <div class="row">
        <div class="col">
  <form method="post" novalidate>
    <section>
    {% csrf_token %}

    {% if form.non_field_errors %}
      <div class="alert alert-error">{{ form.non_field_errors }}</div>
    {% endif %}


      {{ form.urgencia.label_tag }}<br>
      {{ form.urgencia }}
      {{ form.urgencia.errors }}

      {{ form.diagnostico_final.label_tag }}<br>
      {{ form.diagnostico_final }}
      {{ form.diagnostico_final.errors }}

      {{ form.recomendaciones.label_tag }}<br>
      {{ form.recomendaciones }}
      {{ form.recomendaciones.errors }}


    <p>
      <div style="display: flex; gap: 10px;">
      <button class="btn" type="submit">Guardar</button>
      <a class="btn" href="{% url 'urgencia:lista_alta' %}">Cancelar</a>
      </div>
    </p>
  </section>
  </form>
</div>
</div>
</div>
</main>

{% endblock %}
