{% extends "base.html" %}
{% block content %}


<main class="container">
<div class="box">
   {% if form.instance.pk %}
  <h2>Editar urgencia</h2>
{% else %}
  <h2>Nueva urgencia</h2>
{% endif %}
    <div class="row">
        <div class="col">
  <form method="post" novalidate>
    <section>
    {% csrf_token %}

    {% if form.non_field_errors %}
      <div class="alert alert-error">{{ form.non_field_errors }}</div>
    {% endif %}

      <div class="campo">
        {{ form.hospital.label_tag }}<br>
        {% if es_director %}
            {{ form.hospital }}
        {% else %}
            <p><strong>{{ hospital_nombre }}</strong></p>
            {{ form.hospital }} <!-- hidden input -->
        {% endif %}
        {{ form.hospital.errors }}
      </div>


    <div class="campo">
      {{ form.paciente.label_tag }}<br>
      {{ form.paciente }}
      {{ form.paciente.errors }}
    </div>

    <div class="campo">
      {{ form.nivel_triaje.label_tag }}<br>
      {{ form.nivel_triaje }}
      {{ form.nivel_triaje.errors }}
    </div>

    <div class="campo">
      {{ form.motivo.label_tag }}<br>
      {{ form.motivo }}
      {{ form.motivo.errors }}
    </div>

    <div class="campo">
      {{ form.estado.label_tag }}<br>
      {{ form.estado }}
      {{ form.estado.errors }}
    </div>

    <p>
      <div style="display: flex; gap: 10px;">
      <button class="btn" type="submit">Guardar</button>
      <a class="btn" href="{% url 'urgencia:lista_urgencia' %}">Cancelar</a>
      </div>
    </p>
  </section>
  </form>
</div>
</div>
</div>
</main>

{% endblock %}
