{% extends "base.html" %}
{% block content %}


<main class="container">
<div class="box">
   <h2>Confirmar eliminación de urgencia</h2>
    <div class="row">
        <div class="col">
  <p>¿Estás seguro de eliminar la urgencia de <strong>{{ urgencia.paciente }}</strong>?</p>
  <hr>
  <form method="post">
    {% csrf_token %}
    <div style="display: flex; gap: 10px;">
    <button class="btn" type="submit">Sí, eliminar</button>
    <a class="btn" href="{% url 'urgencia:detalle_urgencia' urgencia.id %}">No, volver</a>
    </div>
  </form>
    <hr>
</div>
</div>
</div>
</main>

{% endblock %}
