{% extends "base.html" %}
{% block content %}
<main class="container">
<div class="box">
<h2>Listado de personal</h2>
    <div class="row">
        <div class="col">
<a href="{% url 'personal:personal_create' %}" class="btn">Nuevo Personal</a>

<ul>
    <table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Area</th>
            <th>Hospital</th>
            <th>Usuario</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for p in personal %}
        <tr>
            <td>{{ p.nombre }}</td>
            <td>{{ p.get_area_display }}</td>
            <td>{{ p.hospital.nombre }}</td>
            <td>{{ p.usuario.username }}</td>
            <td>
                <div style="display: flex; gap: 10px;">
                <a href="{% url 'personal:personal_update' p.pk %}" class="btn">Editar</a>
                <a href="{% url 'personal:personal_delete' p.pk %}" class="btn">Eliminar</a>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No hay personal registrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</ul>
</div>
</div>
</div>
</main>
{% endblock %}
