{% extends "base.html" %}

{% block content %}

<main class="container">
<div class="box">
   <h2>Facturas</h2>
    <div class="row">
        <div class="col">
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-succes">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<div style="display: flex; gap: 10px;">
<a href="{% url 'facturacion:factura_crear' %}" class="btn">Nueva factura</a>
<a href="{% url 'facturacion:detalle_crear' %}" class="btn">Nuevo detalle</a>
<a href="{% url 'facturacion:pago_crear' %}" class="btn">Nuevo pago</a>
</div>
<p>
<form method="get" style="margin: 12px 0; display: inline-block;">

  <label for="estado">Mostrar:</label>
  <select name="estado" id="estado" onchange="this.form.submit()">
    <option value="todos" {% if estado_seleccionado == 'todos' %}selected{% endif %}>Todas</option>
    {% for cod, label in estados %}
      <option value="{{ cod }}" {% if estado_seleccionado == cod %}selected{% endif %}>{{ label }}</option>
    {% endfor %}
  </select>

  <label for="origen">Origen:</label>
  <select name="origen" id="origen" onchange="this.form.submit()">
    {% for cod, label in origenes %}
      <option value="{{ cod }}" {% if origen_seleccionado == cod %}selected{% endif %}>{{ label }}</option>
    {% endfor %}
  </select>

</form>
</p>
 
      <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Paciente</th>
                <th>Hospital</th>
                <th>Total</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
                </thead>
                <tbody>

            {% for f in facturas %}
            <tr>
                <td>{{ f.id }}</td>
                <td>{{ f.paciente }}</td>
                <td>{{ f.hospital }}</td>
                <td>{{ f.total }}</td>
                <td>{{ f.estado }}</td>
                <td>
                    <div style="display: flex; gap: 10px;">
                    <a class="btn" href="{% url 'facturacion:factura_detalle' f.id %}">Ver detalle</a>
                    <a class="btn" href="{% url 'facturacion:factura_editar' f.id %}">Editar</a>
                    <a class="btn" href="{% url 'facturacion:factura_eliminar' f.id %}">Eliminar</a>
                    </div>
                </td>
            </tr>
              </tbody>
            {% endfor %}
        </table>
    </div>
</div>
</div>
</main>
{% endblock %}