{% extends 'base.html' %}

{% block content %}



<main class="container">
<div class="box">
<h2>Eliminar Asistencia</h2>
    <div class="row">
        <p>¿Seguro que deseas eliminar "{{ object }}"?</p>
<hr>
        <div class="col">
        <form method="post">
            {% csrf_token %}
            <button class="btn" type="submit">Eliminar</button>
            <a class="btn" href="{% url 'turno:asistencia_list' %}">Cancelar</a>
        </form>
            <hr>
    </div>
    <hr>
</div>
</div>
</main>
{% endblock %}