{% extends 'base.html' %}

{% block content %}

<main class="container">
<div class="box">
<h2>Asistencias</h2>
    <div class="row">
        <a class="btn" href="{% url 'turno:asistencia_create' %}">Registrar entrada/salida</a>
        <div class="col">
            <ul>
                {% for a in object_list %}
                        
                        {{ a.usuario }} - {{ a.fecha }}  
                        Entrada: {{ a.hora_entrada }}  
                        Salida: {{ a.hora_salida|default:"---" }}
                    <div style="display: flex; gap: 10px;">
                        <a class="btn" href="{% url 'turno:asistencia_update' a.id %}">Editar</a>
                        <a class="btn" href="{% url 'turno:asistencia_delete' a.id %}">Eliminar</a>
                    </div>
                {% endfor %}
                 
            </ul>
           
        </div>
    </div>
</div>
</main>
{% endblock %}
    