{% extends 'base.html' %}

{% block content %}
<h2>Eliminar Turno Personal</h2>
<div id="content">
    <div class="marco">

            <p>¿Seguro que deseas eliminar "{{ object }}"?</p>
            <hr>
            <form method="post">
                {% csrf_token %}
                <button class="btn" type="submit">Eliminar</button>
                <a class="btn" href="{% url 'turno:turnopersonal_list' %}">Cancelar</a>
            </form>
            
            <hr>
    </div>
</div>
{% endblock %}