{% extends 'base.html' %}

{% block content %}



<main class="container">
<div class="box">
<h2>Turnos</h2>
    <div class="row">
        <a class="btn" href="{% url 'turno:turno_create' %}">Nuevo turno</a>
        <div class="col">
            <ul>
                {% for turno in object_list %}
                    
                        
                        {{ turno.nombre }} - {{ turno.hora_inicio }} a {{ turno.hora_fin }}
                         <div style="display: flex; gap: 10px;">
                        <a class="btn" href="{% url 'turno:turno_update' turno.id %}">Editar</a>
                        <a class="btn" href="{% url 'turno:turno_delete' turno.id %}">Eliminar</a>
                         </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</main>
{% endblock %}