{% extends 'base.html' %}

{% block content %}
<h2>Turnos</h2>

<a class="btn" href="{% url 'turno:turno_create' %}">Nuevo turno</a>
<div id="content">
    <div class="marco">
        <div class="formulario">
            <ul>
                {% for turno in object_list %}
                    
                        <div class="campo">
                        {{ turno.nombre }} - {{ turno.hora_inicio }} a {{ turno.hora_fin }}
                        </div>
                        <a class="btn" href="{% url 'turno:turno_update' turno.id %}">Editar</a>
                        <a class="btn" href="{% url 'turno:turno_delete' turno.id %}">Eliminar</a>
                
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}