{% extends 'base.html' %}

{% block content %}

<main class="container">
<div class="box">
    <hr>
<p>¿Seguro que deseas eliminar "{{ object }}"?</p>
<h2>Eliminar Turno</h2>
    <div class="row">
        <div class="col">
        <form method="post">
            <section>
            {% csrf_token %}
            <div style="display: flex; gap: 10px;">
            <button class="btn" type="submit">Eliminar</button>
            <a class="btn" href="{% url 'turno:turno_list' %}">Cancelar</a>
            </div>
            </section>
        </form>
        <hr>
    </div>
</div>
</div>
</main>

{% endblock %}