{% extends "base.html" %}
{% block content %}
<main class="container">
<div class="box">
<h2>Eliminar registro</h2>
    <div class="row">
        <div class="col">
  <p>
      Estás por eliminar el historial de <strong>{{ object.paciente }}</strong> del día <strong>{{ object.fecha }}</strong>.
    </p>
    <hr>

      <form method="post">
        {% csrf_token %}
        <div style="display: flex; gap: 10px;">
        <button class="btn" type="submit">Sí, eliminar</button>
        <a class="btn" href="{% url 'historial:detalle_historial' object.pk %}">Cancelar</a>
        </div>
      </form>
      <hr>
  </div>
</div>
</div>
</main>
{% endblock %}
