{% extends "base.html" %}
{% block content %}

<main class="container">
<div class="box">
<h2>Detalle de Historial clínico</h2>
    <div class="row">
        <div class="col">
       <hr>
        <p><strong>Fecha:</strong> {{ historial.fecha }}</p>
        <p><strong>Paciente:</strong> {{ historial.paciente }}</p>
        <p><strong>Médico:</strong> {{ historial.medico|default:"—" }}</p>

        <p><strong>Hospital:</strong>
        {% if es_director %}
            {{ historial.hospital }}
        {% else %}
            {{ hospital_nombre }}
        {% endif %}
        </p>

        <h5>Diagnóstico</h5>
        <p style="white-space: pre-wrap;">{{ historial.diagnostico }}</p>

        <h5>Tratamiento</h5>
        <p style="white-space: pre-wrap;">{{ historial.tratamiento }}</p>

        {% if historial.notas %}
          <h5>Notas</h5>
          <p>{{ historial.notas }}</p>
        {% endif %}
        <hr>
        <div>
          <div style="display: flex; gap: 10px;">
              <a class="btn" href="{% url 'historial:editar_historial' historial.pk %}">Editar</a>
              <a class="btn" href="{% url 'historial:eliminar_historial' historial.pk %}">Eliminar</a>
              <a class="btn" href="{% url 'historial:lista_historial' %}">Volver</a>
          </div>
        </div>
        <hr>
    </div>
</div>
</main>
{% endblock %}

{% endblock %}