{% extends "base.html" %}
{% block content %}
<main class="container">
<div class="box">
<h2>Historial clínico</h2>
    <div class="row">
        <div class="col">
    <a class="btn" href="{% url 'historial:crear_historial' %}">Nuevo registro</a>

  {% if not request.GET.paciente and not request.GET.hospital %}
  <div class="alert alert-success">
    Usa los filtros y presiona "Filtrar" para ver historial.
  </div>
  {% endif %}

  <form method="get">
      <input type="number" name="paciente" placeholder="Filtrar por No de expediente" value="{{ request.GET.paciente }}">

      {% if es_director %}
      <input type="number" name="hospital" placeholder="Filtrar por clave de hospital" value="{{ request.GET.hospital }}">
      {% endif %}

      <div style="display: flex; gap: 10px;">
        <button class="btn" type="submit">Filtrar</button>
        <a class="btn" href="{% url 'historial:lista_historial' %}">Limpiar</a>
      </div>
  </form>

  <table>
    <thead>
      <tr>
        <th>Fecha</th>
        <th>No. de expediente</th>
        <th>Paciente</th>
        <th>Médico</th>
        {% if es_director %}
        <th>Clave</th>
        <th>Hospital</th>
        {% else %}
        <th>Hospital asignado</th>
        {% endif %}
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for h in historiales %}
      <tr>
        <td>{{ h.fecha }}</td>
        <td>{{ h.paciente.pk }}</td>
        <td>{{ h.paciente }}</td>
        <td>{{ h.medico|default:"—" }}</td>
        {% if es_director %}
        <td>{{ h.hospital.id }}</td>
        <td>{{ h.hospital }}</td>
        {% else %}
        <td>{{ hospital_nombre }}</td>
        {% endif %}
        <td>
          <div style="display: flex; gap: 10px;">
            <a class="btn" href="{% url 'historial:detalle_historial' h.pk %}">Ver</a>
            <a class="btn" href="{% url 'historial:editar_historial' h.pk %}">Editar</a>
            <a class="btn" href="{% url 'historial:eliminar_historial' h.pk %}">Eliminar</a>
          </div>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7">No hay registros todavía.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
</main>

{% if is_paginated %}
<nav>
  <ul>
    {% if page_obj.has_previous %}
      <li><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
    {% endif %}
    <li><span>{{ page_obj.number }}</span></li>
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}
