{% extends "base.html" %}
{% block content %}


<main class="container">
<div class="box">
<h2>Detalle de Hospital</h2>
    <div class="row">
        <div class="col">
  <ul class="lista-datos">
    <p><strong>Nombre:</strong> {{ hospital.nombre }}</p>
    <p><strong>Dirección:</strong> {{ hospital.direccion|linebreaksbr }}</p>
    <p><strong>Teléfono:</strong> {{ hospital.telefono }}</p>
    <p><strong>Correo:</strong> {{ hospital.correo }}</p>
    <p><strong>Código:</strong> {{ hospital.codigo }}</p>
  </ul>
  <hr>
  <p>
    <div style="display: flex; gap: 10px;">
    <a class="btn" href="{% url 'hospital:editar_hospital' hospital.id %}">Editar</a>
    <a class="btn" href="{% url 'hospital:eliminar_hospital' hospital.id %}">Eliminar</a>
    <a class="btn" href="{% url 'hospital:lista_hospital' %}">Volver</a>
    </div>
  </p>
  <hr>
</div>
</div>
</div>
</main>
{% endblock %}
