{% extends "base.html" %}
<title>
{% block title %}
    Inicio
{% endblock %}
</title>
{% block content %}
<div id="content">
    <div class="formulario">
        <h1 class="title">Sistema Hospitalario</h1>
        <h2>Accede para continuar</h2>
            <div>
                <a href="{% url 'login' %}" class="btn">Iniciar Sesión</a>
            </div>
            <div>
                <a href="{% url 'registro' %}" class="btn">Registrarse</a>
            </div>
    </div>
</div>
{% endblock %}